<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Profile Matcher">
    <listeners>
        <listener class-name="com.biit.profile.test.TestListener"/>
    </listeners>

    <test name="Profile Matcher" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="profileServices"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.profile.test.api.ProfileServicesTests"/>
        </classes>
    </test>
</suite>